<mat-list *ngIf="items"      
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <app-list-element 
        *ngFor="let item of items" 
        [video]="item">
    </app-list-element>
    <p *ngIf="items?.length === 0">There are no videos for your search phrase.</p>
</mat-list>
