<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <mat-form-field>
        <input matInput type="text" placeholder="Search" formControlName="search" [matAutocomplete]="auto" #trigger>
        <button type="button" mat-button *ngIf="searchForm.value.search" matSuffix mat-icon-button (click)="clearSearchInput()">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchVideo($event.option.value)">
        <mat-option *ngFor="let searchQuery of filteredSearchHistory$ | async" [value]="searchQuery.value">{{searchQuery.value}}</mat-option>
    </mat-autocomplete>
    <button mat-stroked-button type="submit">Search</button>
</form>